{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Checkout</title>
    <!-- Add any necessary styles or scripts -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/cssSample/bootstrap.min.css" />
  </head>
  <body style="background-color: #b2f7e8">
    <h1 style="text-align: center">CHECKOUT</h1>
    <div class="border border-3 border-dark m-5 p-2">
      <p>Your order (ID: {{ order.orderid }}) has been successfully placed!</p>

      <h2>Order Details:</h2>
      <p>Total Price: &#x20B9;{{ order.total_price }}</p>

      <h3>Items in Order:</h3>
      <ul>
        {% for order_item in order.orderitem_set.all %}
        <li>{{ order_item.food_name}} - Quantity: {{ order_item.quantity }}</li>
        {% endfor %}
      </ul>
    </div>
    <!-- Display any other relevant order details -->
    <div style="margin:auto;text-align: center;"><a href="{% url 'home' %}"> <button class="btn btn-success">Home</button></a></div>
  </body>
</html>
