{% extends 'base.html' %} {% load static %} {% block mainbody %}

<h3 style="text-align: center; margin: 3%">Our Menu List</h3>
<div class="food-cards" style="margin: 0px auto; width: 80%">
  {% for food in foods %}
  <div class="food-card" style="margin: 12px">
    <img src="{{ food.image.url }}" alt="{{ food.name }}" />
    <div class="food-details">
      <h2 class="food-title">{{ food.name }}</h2>
      <!-- <p class="food-description">{{ food.description }}</p> -->
      <h2 class="food-price">&#x20B9;{{ food.price }}</h2>
      <a href="{% url 'cart_add' food.id  %}"
        ><button class="buy-button">Add to cart</button></a
      >
    </div>
  </div>

  {% endfor %} {% endblock %}
</div>
