{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Order History</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/cssSample/bootstrap.min.css" />
  </head>
  <body style="background-color: #f7bbb2">
    <h1 class="m-5">Order History</h1>
    <div style="margin:auto;text-align: center;"><a href="{% url 'home' %}"> <button class="btn btn-success">Home</button></a></div>

    {% for order, items in context %}
    <div class="border border-3 border-dark m-5 p-2">
      <h2 style="text-decoration: underline">Order ID : {{ order.orderid }}</h2>
      <!-- Display other order details -->
      <ul>
        {% for item in items %}
        <li>
          {{ item.name }} - Quantity: {{ item.quantity }}- Price: {{ item.total}} - Total: {% widthratio  item.quantity 1 item.total %}
        </li>
        <!-- Display other item details -->
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </body>
</html>
