<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order History</title>
</head>
<body>
    <h1>Order History</h1>
    
   

    {% for order, items in context %}
    <h2>Order #{{ order.orderid }}</h2>
    <!-- Display other order details -->

    <h3>Order Items:</h3>
    <ul>
        {% for item in items %}
            <li>{{ item.name }} - Quantity: {{ item.quantity }} - Total: {{ item.total }}</li>
            <!-- Display other item details -->
        {% endfor %}
    </ul>
    <hr>
{% endfor %}

</body>
</html>
